body 
{
    background-color : skyblue;
}
#para1 
{
    text-align-last : center;
}
#para2
{
    text-align-last : left;
}
address 
{
    width:600;
    height:500; 
}
#submit 
{
    text-align:center;
}